<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
<p>Wimasi Professional Services is a boutique consultancy specialising in complex business, organisational and operational issues. 

We provide regulatory oversight, implement planning in a complex environment and deliver results in a challenging landscape. 

Collectively, we have over 15 years' experience where we have initiated, led and delivered business transformation programs encompassing product development, organisational capability and business improvement in renewable energy, electricity, gas, facilities and assets operations and maintenance and not for profit sectors. 

Our clients recognise our passion for the work we undertake, the partnerships we endeavour to build and the fresh perspective that we bring to the table. </p>
                </div>
            </div>
        </div>
    </section>
